@{
    ViewData["Title"] = "桌面";
}

<!--此页面需要出现滚动条，用容器包装，让容器出现的滚动条代替body的滚动条-->
<div class="bodyscroll">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="chart1" style="height:300px"></div>
            </div>
            <div class="col-md-12 mt5 mb15">
                <hr />
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="chart2" style="height:400px"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="chart3" style="height:400px"></div>
            </div>
        </div>
    </div>

</div>

<!--Highcharts-->
<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>

<partial name="_BaseViewPartial" />