@{
    ViewBag.Title = "登录";
}

<script>top != self && (top.location = self.location)</script>

<style>
    input::-webkit-input-placeholder {
        color: #0E0E0E !important;
    }

    input:-moz-placeholder {
        color: #0E0E0E !important;
    }

    input::-moz-placeholder {
        color: #0E0E0E !important;
    }

    input:-ms-input-placeholder {
        color: #0E0E0E !important;
    }

    body {
        background-color: #0EACB5;
    }

    .input-group-addon {
        min-width: 55px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .input-group-addon, .form-control {
        color: #0E0E0E;
        border: 1px solid #FFF;
        background-color: #D4D7FB;
        border-radius: 6px !important;
    }

    input:focus {
        border: 1px solid #FFF !important;
    }
</style>

<div style="margin:9% auto 0;max-width:400px;">
    <form onsubmit="return false">
        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user fa-2x"></i>
                </div>
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入登录账号" autocomplete="off" value="admin">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key fa-2x"></i>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入登录密码" autocomplete="off" value="admin">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="input-group" style="position:relative">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-eye-open fa-2x"></i>
                </div>
                <input type="text" class="form-control" name="captcha" id="captcha" placeholder="请输入验证码" autocomplete="off" maxlength="4">
                <img id="img_captcha" src="/common/captcha" alt="验证码" style="position:absolute;right:2px;top:2px;width:130px;height:42px;cursor:pointer;z-index:999;border-radius:6px" />
            </div>
        </div>
        <div class="form-group" style="margin-bottom:0">
            <div id="loginmsg" style="height:25px;line-height:25px;color:#FFF;text-align:right"></div>
        </div>
        <div class="form-group form-group-lg">
            <button type="button" id="btnLogin" class="btn btn-primary btn-block btn-lg" style="text-align: left;font-size:1.8em;border-color:#FFF">
                <i class="fa fa-sign-in" style="font-size:26px;margin-right:28px"></i>登 录
            </button>
        </div>
    </form>
</div>

<script>
    $(document).keydown(function (e) { if ((e.keyCode || e.which || e.charCode) == 13) { $('#btnLogin')[0].click() } });
    $('#btnLogin').click(function () {
        if ($("#username").val() != "" && $("#password").val() != "" && $('#captcha').val() != "") {
            $('#btnLogin')[0].disabled = true;
            $.ajax({
                url: "/account/loginauth",
                type: "POST",
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    captcha: $('#captcha').val()
                },
                dataType: 'json',
                success: function (data) {
                    $('#btnLogin')[0].disabled = false;
                    if (data.code == 100) {
                        window.location.href = data.url;
                    }
                    else {
                        if (data.code == 102) {
                            $('#captcha').val('')[0].focus();
                            $("#img_captcha")[0].click();
                        } else {
                            $("#username").val("");
                            $("#password").val("");
                        }
                    }
                    writemsg(data.msg);
                },
                error: function () {
                    $('#btnLogin')[0].disabled = false;
                    $("#img_captcha")[0].click();
                    writemsg("网络错误。");
                }
            })
        }
        else {
            writemsg("请完整填写信息。");
        }
    });

    $('#username')[0].focus();

    //刷新验证码
    $("#img_captcha").click(function () {
        this.src = "/common/captcha?" + Math.random();
    });

    var defer1;
    function writemsg(msg) {
        $('#loginmsg').html(msg);
        clearTimeout(defer1);
        defer1 = setTimeout(function () {
            $('#loginmsg').html('');
        }, 1000 * 7)
    }


</script>

@{Html.RenderPartial("Partial_BuildSysInit");}
