@model Netnr.Domain.SysAuthorize
@{
    ViewData["Title"] = "授权绑定";
}

<style>
    .authbind img {
        height: 72px;
        padding: 3px;
        cursor: pointer;
        margin-top: 70px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px dashed transparent;
    }

        .authbind img:hover {
            border-color: rgb(255, 3, 247)
        }
</style>

<div class="container-fluid authbind" id="authbind">
    <div class="row">
        <div class='col-md-2 col-sm-3 col-xs-4 text-center'>
            <img src="/images/login/qq.svg" title="QQ" />
            @if (string.IsNullOrWhiteSpace(Model.OpenId1))
            {
                <h4 class="text-muted">关联</h4>
            }
            else
            {
                <h4 class="green">已关联</h4>
            }
        </div>
        <div class='col-md-2 col-sm-3 col-xs-4 text-center'>
            <img src="/images/login/weibo.svg" title="微博" />
            @if (string.IsNullOrWhiteSpace(Model.OpenId2))
            {
                <h4 class="text-muted">关联</h4>
            }
            else
            {
                <h4 class="green">已关联</h4>
            }
        </div>
        <div class='col-md-2 col-sm-3 col-xs-4 text-center'>
            <img src="/images/login/github.svg" title="GitHub" />
            @if (string.IsNullOrWhiteSpace(Model.OpenId3))
            {
                <h4 class="text-muted">关联</h4>
            }
            else
            {
                <h4 class="green">已关联</h4>
            }
        </div>
        <div class='col-md-2 col-sm-3 col-xs-4 text-center'>
            <img src="/images/login/taobao.svg" title="淘宝" />
            @if (string.IsNullOrWhiteSpace(Model.OpenId4))
            {
                <h4 class="text-muted">关联</h4>
            }
            else
            {
                <h4 class="green">已关联</h4>
            }
        </div>
        <div class='col-md-2 col-sm-3 col-xs-4 text-center'>
            <img src="/images/login/microsoft.svg" title="Microsoft" />
            @if (string.IsNullOrWhiteSpace(Model.OpenId5))
            {
                <h4 class="text-muted">关联</h4>
            }
            else
            {
                <h4 class="green">已关联</h4>
            }
        </div>
    </div>
</div>
<script src="/js/account/authbind.js"></script>
