@{
    ViewBag.Title = "系统日志";
}

<!--搜索区域-->
<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索：账号、控制器、IP、操作说明" id="txtSearch">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch">
                        <i class="fa fa-search"></i>&nbsp;搜索
                    </button>
                </span>
            </div>
        </div>

    </div>
</div>

<div id="Grid1"></div>

<script src="/Scripts/z.js"></script>

<script>

    var gd1 = z.Grid();
    gd1.url = "/Common/QueryData?uri=pplog";
    gd1.post = {
        keywords: function () { return $('#txtSearch').val() }
    };
    gd1.load();

    //刷新
    z.button('reload', function () {
        gd1.load();
    });
    $('#btnSearch').click(function () {
        gd1.load();
    });
    $('#txtSearch').keydown(function (e) {
        e = e || window.event;
        if ((e.keyCode || e.which || e.charCode) == 13) {
            gd1.load();
        }
    });

</script>