@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>样式配置</title>
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="max-width:600px;margin-top:5%">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">预览效果</label>
                        <div class="col-sm-8">
                            <p class="form-control-static"> 这是一段样式文字效果演示。<br />说明：切换浏览器后会失效，需重新设置。 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">字体大小</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="seFontSize">
                                <option value="14px">（ 默认大小 14px ）</option>
                                <option value="15px"> 15px </option>
                                <option value="16px"> 16px </option>
                                <option value="13px"> 13px </option>
                                <option value="12px"> 12px </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">字体类型</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="seFontFamily">
                                <option value="">（ 默认字体 ）</option>
                                <option value="黑体"> 黑体 </option>
                                <option value="Verdana"> Verdana </option>
                                <option value="Microsoft YaHei"> 微软雅黑 </option>
                                <option value="MS Sans Serif"> MS Sans Serif </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">功能按钮</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="seButtonStyle">
                                <option value="">（ 默认小清新风格 ）</option>
                                <option value="1"> 深色背景风格 </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button id="btnSaveStyle" type="button" class="btn btn-lg btn-primary btn-block"> 保 存 </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    try {
        var fs = localStorage["_Style_FontSize"],
            ff = localStorage["_Style_FontFamily"],
            bs = localStorage["_Style_Button"];
        if (fs) {
            document.getElementById('seFontSize').value = fs;
            document.body.style["font-size"] = fs;
        }
        if (ff) {
            document.getElementById('seFontFamily').value = ff;
            document.body.style["font-family"] = ff;
        }
        if (bs == 1) {
            document.getElementById('seButtonStyle').value = bs;
        }
    } catch (e) { }

    document.getElementById('seFontSize').onchange = function () {
        document.body.style["font-size"] = this.value;
    }
    document.getElementById('seFontFamily').onchange = function () {
        document.body.style["font-family"] = this.value;
    }
    document.getElementById('btnSaveStyle').onclick = function () {
        try {
            localStorage["_Style_FontSize"] = document.getElementById('seFontSize').value;
            localStorage["_Style_FontFamily"] = document.getElementById('seFontFamily').value;
            localStorage["_Style_Button"] = document.getElementById('seButtonStyle').value;
            alert('保存成功，刷新页面生效。');
        } catch (e) {
            alert('您的浏览器版本过低，不支持该功能');
        }
    }
</script>