<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"] netnrf响应式框架</title>

    <!-- Bootstrap、字体 -->
    @*<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery、Bootstrap -->
    @*<script src="/lib/jquery/jquery-1.12.4.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="https://lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- EasyUI -->
    <link href="/lib/jquery-easyui-1.5.4/themes/default/easyui-custom.css" rel="stylesheet" asp-append-version="true" />
    <script src="/lib/jquery-easyui-1.5.4/jquery.easyui.min.min.js" asp-append-version="true"></script>

    <!-- DateTime -->
    <link href="/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" asp-append-version="true"></script>

    <!--页面自定义样式||重写-->
    <link href="/css/z.css" rel="stylesheet" asp-append-version="true" />
    <script src="/js/z.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fluid">
        @await Component.InvokeAsync("Button")

        <div id="myBody">
            @RenderBody()
        </div>
    </div>
</body>
</html>