@{
    ViewBag.Title = "Tab";
}

<a href="http://v3.bootcss.com/javascript/#tabs" target="_blank" class="btn btn-info btn-lg active" role="button">参照：Bootstrap 标签页</a>

<h2>选项卡</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs" role="tablist" id="_af_tablist_1">
                <li class='active'>
                    <a href="#_afpp_1" data-toggle="tab">面板 1</a>
                </li>
                <li class=''>
                    <a href="#_afpp_2" data-toggle="tab">面板 2</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class='tab-pane active' id="_afpp_1">
                    。。。。
                </div>
                <div class='tab-pane ' id="_afpp_2">
                    。。
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" role="tablist" id="_af_tablist_2">
                <li class='active'>
                    <a href="#_afpp_3" data-toggle="tab">面板 1</a>
                </li>
                <li class=''>
                    <a href="#_afpp_4" data-toggle="tab">面板 2</a>
                </li>
                <li class=''>
                    <a href="#_afpp_5" data-toggle="tab">面板 2</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class='tab-pane active' id="_afpp_3">
                    。。。。
                </div>
                <div class='tab-pane ' id="_afpp_4">
                    。。
                </div>
                <div class='tab-pane ' id="_afpp_5">
                    。。。
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>
                说明：由于系统风格统一，在Content里面page.css重写了样式，可以根据自己的需求把样式去掉恢复默认的Bootstrap样式
            </h2>
        </div>
    </div>
</div>



