
@{
    ViewData["Title"] = "SQLServer";
}

<style>
    select.form-control {
        font-size: 1.2em;
        min-height: 200px;
    }
</style>

<div class="container-fluid">


    <ul class="list-group">
        <li class="list-group-item">
            <h3>重置数据库脚本</h3>
            <p>
                <a href="/script/DataDropTable.txt" target="_blank">删除所有表</a>
            </p>
            <p>
                <a href="/script/DataInit.txt" target="_blank">初始化表</a>
            </p>
            <a href="/tool/sqlserverreset" class="btn btn-danger btn-lg" target="_blank">立即重置数据库（约5秒）</a>
        </li>
        <li class="list-group-item">
            <h3>查询数据库系统表，生成表配置信息（ Ctrl+F 搜索 ）</h3>
            <p>
                <a href="/script/GetTableInfo.txt" target="_blank">查询系统表生成表配置</a>
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        所有表名（按住Ctrl多选）
                        <label class="pull-right" id="labAll"></label>
                    </div>
                    <select class="form-control" id="seTableNameAll" multiple></select>
                    <button class="btn btn-primary btn-lg mt5" id="btnBuilder">生成选中表</button>
                    <label>
                        <input type="checkbox" id="chkCover" value="1" checked />覆盖已有记录
                    </label>
                </div>
                <div class="col-md-4">
                    <div>
                        已生成记录表名
                        <label class="pull-right" id="labHas"></label>
                    </div>
                    <select class="form-control" id="seTableNameHas" multiple></select>
                </div>
            </div>
        </li>
    </ul>
</div>


<partial name="_BaseViewPartial" />
