@{
    ViewData["Title"] = "表管理";
}

<style>
    select.form-control {
        font-size: 1.2em;
        min-height: 400px;
    }
</style>

<div class="row">
    <div class="col-sm-12 mt15">
        <a href="/tool/resetdatabase" class="btn btn-danger btn-sm" target="_blank">重置数据库</a>
        <hr />
    </div>
    <div class="col-sm-4">
        <div>
            <span class="pull-right" id="labAll"></span>
            <button class="btn btn-primary btn-sm" id="btnBuilder" disabled>生成表配置 （已禁用，自己取消禁用）</button>
            <label>
                <input type="checkbox" id="chkCover" value="1" checked />覆盖已有记录
            </label>
            <button class="btn btn-success pull-right btn-sm" id="btnQuery">查询字典</button>
        </div>
        <div id="PGrid1" class="mt15">
            <div id="Grid1" class="loadingimg"></div>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="PGrid2">
            <div id="Grid2" class="loadingimg"></div>
        </div>
    </div>
</div>

<partial name="_BaseViewPartial" />
