
@{
    ViewData["Title"] = "Ins";
}

<h2>Ins</h2>


<form class="form-horizontal formui">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class='control-label'>年月日 时分秒：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</label>
                <div>
                    <input type="text" id="txt1" class="form-control">
                    <i class="fa fa-clock-o form-control-feedback"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class='control-label'>年月日：@DateTime.Now.ToString("yyyy-MM-dd")</label>
                <div>
                    <input type="text" id="txt2" class="form-control">
                    <i class="fa fa-clock-o form-control-feedback"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class='control-label'>时分秒：@DateTime.Now.ToString("HH:mm:ss")</label>
                <div>
                    <input type="text" class="form-control" id="txt3">
                    <i class="fa fa-clock-o form-control-feedback"></i>
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<script>

    $('#txt1').parent().datetimepicker({
        format: "yyyy-MM-dd HH:mm:ss",
        orientation: "left"
    });

    $('#txt2').parent().datetimepicker({
        format: "yyyy-MM-dd",
        orientation: "left",
        pickTime: false
    });

    $('#txt3').parent().datetimepicker({
        format: "HH:mm:ss",
        orientation: "left",
        pickDate: false
    });


    //var locale = function () {
    //    return {
    //        applyLabel: "确定",
    //        cancelLabel: "取消",
    //        format: "YYYY-MM-DD HH:mm:ss",
    //        separator: " - ",
    //        daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
    //        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
    //    }
    //};

    ////年月日 时分秒
    //var locale1 = locale();
    //$("#txt1").daterangepicker({
    //    locale: locale1,
    //    singleDatePicker: true,
    //    showDropdowns: true,
    //    autoUpdateInput: false,
    //    timePicker24Hour: true,
    //    //autoApply: true,
    //    timePicker: true,
    //    timePickerSeconds: true
    //}).on('cancel.daterangepicker', function (ev, picker) {
    //    //取消事件
    //}).on('apply.daterangepicker', function (ev, picker) {
    //    //确定事件
    //    this.value = picker.startDate.format(locale1.format);
    //});

    ////年月日
    //var locale2 = locale();
    //locale2.format = "YYYY-MM-DD";
    //$("#txt2").daterangepicker({
    //    locale: locale2,
    //    singleDatePicker: true,
    //    showDropdowns: true
    //});

    ////时分秒
    //var locale3 = locale();
    //locale3.format = "HH:mm:ss";
    //$("#txt3").daterangepicker({
    //    locale: locale3,
    //    singleDatePicker: true,
    //    timePicker: true,
    //});

</script>