<!DOCTYPE html>
<html style="overflow-x:hidden !important">
<head>

    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap、字体 -->
    @*<link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/Content/fontAwesome/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="//lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery、Bootstrap -->
    <script>document.documentElement.focus();</script>
    @*<script src="/Scripts/jquery.min.js"></script>
        <script src="/Content/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="//lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="//lib.baomitu.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- EasyUI -->
    <link href="/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <script src="/Content/easyui/jemin-1.4.5.js"></script>

    <!--页面自定义样式||重写-->
    <link href="/Content/page.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bgwhite" id="myBtnMenu" style="margin-top:5px">
                @{Html.RenderAction("Action_BuildButton", "Partial");}
            </div>
        </div>
        <div id="myBody">
            @RenderBody()
        </div>
        <div id="myConfig">
            @{Html.RenderPartial("Partial_ConfigTable");}
            @{Html.RenderPartial("Partial_ConfigForm");}
        </div>
    </div>
</body>
</html>
