<!--模态 表格配置-->
<div class="modal fade" id="myModalTableConfig" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <i class="fa fa-cog orange fa-2x" style="margin-right:10px;vertical-align:middle"></i>表格配置 （拖动排序）
                </h4>
            </div>

            <div class="modal-body" id="pGridTableConfig">
                <div id="GridTableConfig"></div>
            </div>
            <div class="modal-footer">
                <button id="btnTableConfig" type="button" class="btn btn-primary"><span class="fa fa-save"></span>&nbsp;保存</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (window.z) {
        var gdTableConfig = z.Grid();
        gdTableConfig.id = "#GridTableConfig";
        gdTableConfig.autosizePid = "#pGridTableConfig";
        gdTableConfig.pageSize = 200;
        gdTableConfig.autosize = "p";
        gdTableConfig.page = false;
        gdTableConfig.bindBeforeE = function () {
            $(this.columns).each(function () {
                if (this.field == "frozen" || String(this.field).substr(0, 2) != "d_") {
                    this.title = '<span class="orange">' + this.title + '</span>';
                }
            });
        }
        gdTableConfig.clickCellE = function (index, field, value) {
            z.GridCellEdit(gdTableConfig, index, field, value);
        }
        //对齐方式
        z.DC["ls_align"] = [{ id: 1, text: "居左", selected: true }, { id: 2, text: "居中" }, { id: 3, text: "居右" }];
        //隐藏
        z.DC["ls_hide"] = [{ id: 0, text: "显示", selected: true }, { id: 1, text: "隐藏" }];
        //冻结
        z.DC["ls_frozen"] = [{ id: 1, text: "冻结" }, { id: 0, text: "不冻结", selected: true }];
        //点击表格配置
        $('#list_Config_Table').click(function () {
            $('#myModalTableConfig').modal('show').on('shown.bs.modal', function () {
                var vname;
                try { vname = (z.DC["TableN"] || gd1).vname; } catch (e) { return false }

                if ($(this).attr("data-vname") == null) {
                    $.getScript('/content/easyui/datagrid-dnd.js');
                }
                if ($(this).attr("data-vname") != vname) {
                    gdTableConfig.url = "/Common/QueryData?uri=pptableconfig&vname=" + vname;
                    gdTableConfig.completeE(function () {
                        ConfigModalAuto(gdTableConfig);
                        setTimeout(function () {
                            $(gdTableConfig.id).datagrid('enableDnd');
                        }, 100);
                    });
                    gdTableConfig.load();
                    $(this).attr("data-vname", vname);
                } else {
                    ConfigModalAuto(gdTableConfig);
                }
            });
            !$('#myModalTableConfig').attr('data-vname') && $(window).resize(function () { ConfigModalAuto(gdTableConfig); });
        });
        //点击空白关闭编辑
        $(gdTableConfig.autosizePid).mousedown(function (e) {
            e = e || window.event;
            var target = e.target || e.srcElement,
                btable = $(this).find('table.datagrid-btable').last();
            if (!btable[0].contains(target)) {
                !isNaN(gdTableConfig.editorIndex) && gdTableConfig.endEdit();
            }
        });
        //保存表格配置
        $('#btnTableConfig').click(function () {
            gdTableConfig.endEdit();
            var rowData = gdTableConfig.rowAll();
            $.ajax({
                url: '/Partial/SaveTableConfig',
                type: 'post',
                data: {
                    vname: $('#myModalTableConfig').attr('data-vname'),
                    rows: JSON.stringify(rowData)
                },
                success: function (data) {
                    if (data == "success") {
                        try {
                            var gd = (z.DC["GridN"] || gd1);
                            gd.columnsExists = 0;
                            gd.F5();
                        } catch (e) { }
                        $('#myModalTableConfig').modal('hide');
                    } else {
                        art('fail');
                    }
                },
                error: function () {
                    art('error');
                }
            })
        });

        z.gdTableConfig = gdTableConfig;
    }

    //配置高度自适应
    function ConfigModalAuto(gd) {
        var h = Math.max(150, $(window).height() - 190);
        $(gd.autosizePid).css('height', h);
        z.GridAuto(gd);
    }

</script>