@{
    ViewBag.Title = "Three";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

            <form class="form-horizontal formui" id="_af_form_1">
                <div class="row">
                    <div class='col-md-6 col-sm-6 hidden'>
                        <div class="form-group">
                            <label class='control-label '>id</label>
                            <div>
                                <input type='text' id="id" name="id" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12 col-sm-6 '>
                        <div class="form-group">
                            <label class='control-label requiredTag'>角色名称</label>
                            <div>
                                <input type='text' id="r_name" name="r_name" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12 col-sm-6 '>
                        <div class="form-group">
                            <label class='control-label '>状态</label>
                            <div class='checkbox'>
                                <label>
                                    <input type="checkbox" value="1" id="r_state" name="r_state" data-type="checkbox" />
                                    启用角色
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6 hidden'>
                        <div class="form-group">
                            <label class='control-label '>菜单</label>
                            <div>
                                <input type='text' id="r_menus" name="r_menus" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12 col-sm-6 '>
                        <div class="form-group">
                            <label class='control-label '>备注说明</label>
                            <div>
                                <input type='text' id="r_remark" name="r_remark" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6 hidden'>
                        <div class="form-group">
                            <label class='control-label '>按钮</label>
                            <div>
                                <input type='text' id="r_buttons" name="r_buttons" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>