@{
    ViewBag.Title = "Two";
}

<form class="form-horizontal formui" id="_af_form_1">
    <div class="row">

        <ul class="nav nav-tabs" role="tablist" id="_af_tablist_1">
            <li class='active'>
                <a href="#_afpp_1" data-toggle="tab">面板 1</a>
            </li>
            <li class=''>
                <a href="#_afpp_2" data-toggle="tab">面板 2</a>
            </li>
        </ul>
        <div class="tab-content" id="_aftc_1">
            <div class='tab-pane active' id="_afpp_1">
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label requiredTag'>虚拟表名</label>
                        <div>
                            <input type='text' id="vname" name="vname" class="form-control" value="" data-type="" data-url="" placeholder="请输入虚拟表名" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>主键ID</label>
                        <div>
                            <input type='text' id="id" name="id" class="form-control" value="" data-type="" data-url="" placeholder="自增列，不填写" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label requiredTag'>列字段</label>
                        <div>
                            <input type='text' id="field" name="field" class="form-control" value="" data-type="" data-url="" placeholder="请输入列字段" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label requiredTag'>显示标题</label>
                        <div>
                            <input type='text' id="title" name="title" class="form-control" value="" data-type="" data-url="" placeholder="请输入显示标题" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>显示列宽</label>
                        <div>
                            <input type='text' id="width" name="width" class="form-control" value="" data-type="" data-url="" placeholder="请输入显示列宽" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>对齐方式</label>
                        <div>
                            <input type='text' id="align" name="align" class="form-control" value="" data-type="combobox" data-url="ls_align" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label requiredTag'>是否隐藏</label>
                        <div>
                            <input type='text' id="hide" name="hide" class="form-control" value="" data-type="combobox" data-url="ls_hide" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>显示排序</label>
                        <div>
                            <input type='text' id="l_order" name="l_order" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>冻结列</label>
                        <div class='checkbox'>
                            <label>
                                <input type="checkbox" value="1" id="frozen" name="frozen" data-type="checkbox" data-url="" placeholder="" />
                                是冻结列
                            </label>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>启用排序</label>
                        <div class='checkbox'>
                            <label>
                                <input type="checkbox" value="1" id="sort" name="sort" data-type="checkbox" data-url="" placeholder="" />
                                点击标题排序
                            </label>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认标题</label>
                        <div>
                            <input type='text' id="d_title" name="d_title" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认宽度</label>
                        <div>
                            <input type='text' id="d_width" name="d_width" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认对齐</label>
                        <div>
                            <input type='text' id="d_align" name="d_align" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认隐藏</label>
                        <div>
                            <input type='text' id="d_hide" name="d_hide" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-12 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>格式化</label>
                        <div>
                            <input type='text' id="format" name="format" class="form-control" value="" data-type="combobox" data-url="ls_format" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class='tab-pane ' id="_afpp_2">
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>表单类型</label>
                        <div>
                            <input type='text' id="f_type" name="f_type" class="form-control" value="" data-type="combobox" data-url="ls_f_type" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>所在区域</label>
                        <div>
                            <input type='text' id="f_area" name="f_area" class="form-control" value="" data-type="combobox" data-url="ls_f_area" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-12 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>URL</label>
                        <div>
                            <input type='text' id="f_url" name="f_url" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>是否必填</label>
                        <div class='checkbox'>
                            <label>
                                <input type="checkbox" value="1" id="f_required" name="f_required" data-type="checkbox" data-url="" placeholder="" />
                                是必填项
                            </label>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>是否影藏</label>
                        <div class='checkbox'>
                            <label>
                                <input type="checkbox" value="1" id="f_hide" name="f_hide" data-type="checkbox" data-url="" placeholder="" />
                                不显示
                            </label>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>显示跨列</label>
                        <div>
                            <input type='text' id="f_col" name="f_col" class="form-control" value="" data-type="combobox" data-url="ls_f_col" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>显示排序</label>
                        <div>
                            <input type='text' id="f_order" name="f_order" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>表单提示</label>
                        <div>
                            <input type='text' id="f_placeholder" name="f_placeholder" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认值</label>
                        <div>
                            <input type='text' id="f_value" name="f_value" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>显示内容</label>
                        <div>
                            <input type='text' id="f_text" name="f_text" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认跨列</label>
                        <div>
                            <input type='text' id="d_f_col" name="d_f_col" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认区域</label>
                        <div>
                            <input type='text' id="d_f_area" name="d_f_area" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-sm-6 '>
                    <div class="form-group">
                        <label class='control-label '>默认表单隐藏</label>
                        <div>
                            <input type='text' id="d_f_hide" name="d_f_hide" class="form-control" value="" data-type="" data-url="" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
