@{
    ViewBag.Title = "Desk";
}

<style>
    .rp h1 {
        color: red;
    }
</style>


<div class="row rp">
    <div class="col-md-10">
        <h1>
            最新的版本：<a href="https://rf.netnr.com" target="_top">https://rf.netnr.com</a>
        </h1>
    </div>
</div>


@{Html.RenderPartial("Partial_BuildSysInit");}
