@{
    ViewBag.Title = "PropertyGrid";
}

<div id="Grid1"></div>

<script src="/Scripts/z.js"></script>
<script>
    var gd1 = z.Grid();
    gd1.model = "propertygrid";
    gd1.url = "/Common/QueryData?uri=ppcolumn";
    gd1.groupId = "vname";
    gd1.bindBeforeE = function () {
        gd1.frozens = [];
    }
    gd1.load();
</script>