@model Netnr.Func.ViewModel.AccountValidationVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>消息</title>
</head>
<body>
    <h2 style="text-align:center">@Model.message</h2>
    @if (Model.code == 301)
    {
        <script>
            //绑定成功，刷新页面并关闭弹窗
            window.opener.location.reload(false);
            window.close();
        </script>
    }
    else
    {
        <h4 style="text-align:center"><b id="second">9</b> 秒跳转 <a href="/">登录页面</a></h4>
        <script>
            var deep = 9;
            setInterval(function () {
                deep -= 1;
                document.getElementById("second").innerHTML = deep;
                if (!deep) {
                    location.href = "/";
                }
            }, 1000)
        </script>
    }
</body>
</html>