/* 公共样式重写 */
html {
    overflow-x: hidden;
}

a:focus {
    outline: none !important;
}

input:disabled {
    background-color: #F8F8F8;
}

.close {
    font-size: 35px;
}

label.requiredTag {
    color: blue !important;
}

.orange {
    color: #ff892a !important;
}

.blue {
    color: #478fca !important;
}

.white {
    color: #fff !important;
}

.red {
    color: #dd5a43 !important;
}

.green {
    color: #69aa46 !important;
}

.form-group {
    min-height: 34px;
}

    .form-group label {
        font-weight: 400 !important;
    }

.has-feedback {
    min-height: 33px;
}

.panel-body {
    padding: 0;
}

.modal-sm {
    width: 350px;
}

.modal-header {
    padding: 10px 15px;
}

.modal-content {
    border-radius: 3px;
}

.modal-footer {
    margin-top: 0;
}

.dropdown-yellow > li > a {
    padding: 5px 15px;
}

    .dropdown-yellow > li > a:hover, .dropdown-yellow > li > a:focus, .dropdown-yellow > li > a:active, .dropdown-yellow > li.active > a, .dropdown-yellow > li.active > a:hover, .dropdown-yellow .dropdown-submenu:hover > a {
        color: #444;
        background: #fee188;
    }

.form-control {
    border-radius: 1px;
    box-shadow: none;
    -webkit-transform: none;
}

    .form-control[disabled], .form-control[readonly] {
        background-color: #F9F7F7;
    }


/* 页面操作按钮间隔 */
#myBtnMenu > button, #myBtnMenu > div {
    margin-bottom: 5px;
}

#myBtnMenu i.fa {
    min-width: 20px;
}
/*白色背景按钮*/
.bgwhite .btn {
    outline: none !important;
    font-size: 14px !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

    .bgwhite .btn:hover {
        background-color: #ededed !important;
    }

.bgwhite .btn-success {
    color: #648A5E !important;
}

.bgwhite .btn-info {
    color: #70a0c1 !important;
}

.bgwhite .btn-primary {
    color: #428bca !important;
}

.bgwhite .btn-warning {
    color: #DAA458 !important;
}

.bgwhite .btn-danger {
    color: #d9534f !important;
}

#myBtnMenu .btn.disabled, #myBtnMenu .btn[disabled] {
    opacity: .25;
}

.bgwhite .btn.disabled, .bgwhite .btn[disabled] {
    opacity: .35;
}

/* 表单样式重写 */
.formui .row {
    margin: 0;
}

.formui .form-group {
    margin-left: 0;
    margin-right: 0;
}

    .formui .form-group label.control-label {
        float: left;
        width: 75px;
        padding-top: 7px;
        overflow: hidden;
        text-align: right;
        margin-right: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .formui .form-group > div {
        overflow: hidden;
    }

        .formui .form-group > div i.fa {
            right: 25px;
            width: 20px;
            color: #66afe9;
            text-align: left;
            margin-top: 10px;
            cursor: pointer !important;
            pointer-events: painted !important;
        }

/* 选项卡重写 */
.nav-tabs {
    border-bottom-color: #2C6AA0;
}

    .nav-tabs > li > a {
        color: #2C6AA0;
        padding: 7px 12px;
        font-weight: bold;
    }

        .nav-tabs > li > a:hover {
            color: #fff;
            background-color: #2C6AA0;
            border: 1px solid #2C6AA0;
            border-bottom-color: transparent;
        }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: 1px solid #2C6AA0;
        border-bottom-color: transparent;
    }

.tab-content .active {
    float: left;
    width: 100%;
    padding-top: 15px;
    border: 1px solid #2C6AA0;
    border-top: none;
    border-radius: 0 0 3px 3px;
}
